<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>E:\LocalPubPackage\Debugtest\WebApplication5.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Web SQL</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="WebApplication5.Models.OP3Context" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApplication5.Models.OP3Context, WebApplication5" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MyDbContextConnectionStringRemote" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=145.24.222.163;Port=8500;UserId=ATM;Password=hzz3BHgj;database=OP3;CharSet=utf8;Persist Security Info=True;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MyDbContextConnectionStringRemote_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=145.24.222.163;Port=8500;UserId=ATM;Password=hzz3BHgj;database=OP3;CharSet=utf8;Persist Security Info=True;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MyDbContextConnectionStringRemote-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WebApplication5.Models.OP3Context-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="WebApplication5.Models.OP3Context" />
  </ItemGroup>
</Project>